html{
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.message.error{
    color: red;
}

.message.success{
    color:green;
}