{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
{% endblock %}

{% block content%}

<div class="container-fluid"> 
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">All Categories</h1>
    </div>
    <div class="modal-header">
        <h3 >Q. What does CSS stands for?</h3>
    </div>
    <div class="modal-body">
        <div class="col-xs-12">
            <div class="quiz" id="quiz" data-toggle="buttons">
                <div class="row">
                    <label class="element-animation1 btn btn-lg btn-danger btn-block">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                        <input type="radio" name="q_answer" value="1"> 
                        Computer Style Sheetsjn jkdscl kjnlkjsDNc kjns vkljnsLKJvn kjsnv lkzdnvlkjnzdf vlkn dfzkjvn lkjdzfv ldfkjzvn dfk lzdfkjvn kjn lkjnsklnv kjvnkjdsnv kjdnvl kdsnv ldksn vlksdnvl
                    </label>
                </div>
                <div class="row">
                    <label class="element-animation2 btn btn-lg btn-danger btn-block">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                        <input type="radio" name="q_answer" value="2"> 
                        Cascading Style Sheets
                    </label>
                </div>
                <div class="row">
                    <label class="element-animation3 btn btn-lg btn-danger btn-block">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                        <input type="radio" name="q_answer" value="3"> 
                        Creative Style Sheets
                    </label>
                </div>
                <div class="row">
                    <label class="element-animation4 btn btn-lg btn-danger btn-block">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                        <input type="radio" name="q_answer" value="4"> 
                        Colorful Style Sheets
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
