{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">

<script>
    let timeLeft = 15;

    function startTimer() {
        const timer = setInterval(() => {
            document.getElementById("timer").innerHTML = timeLeft;
            timeLeft--;

            if (timeLeft < 0) {
                clearInterval(timer);
                document.getElementById("quiz-form").submit();
            }
        }, 1000);
    }

    window.onload = function() {
        startTimer();
    };
</script>
{% endblock %}

{% block content%}
<div style=" position: absolute; top: 90px; right: 30px; font-size: 32px; font-weight: bold;">
    <span id="timer">15</span>s
</div>
<div class="container-fluid">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="padding-top: 10px;">
            <h1 class="display-4 fw-normal text-body-emphasis">Question {{n}}</h1>
        </div>
         <div class="modal-header" style="padding-top: 10px;">
            <h3 >{{question}}</h3>
        </div>
       
        <div class="modal-body" style="padding-top: 10px;">
            {% if level %}
            <form method="post" id="quiz-form" action="{% url 'game' level cat %}">
            {% else %}
            <form method="post" id="quiz-form" action="{% url 'gaming' cat %}">
            {% endif %}
                {% csrf_token %}
                <div class="col-xs-12">
                    <div class="quiz" id="quiz" data-toggle="buttons">
                        {% for option in options %}
                        <div class="row" style="padding-top: 10px;">
                            <label class="element-animation1 btn btn-lg btn-danger btn-block">
                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                                <input type="radio" name="q_answer" value= "{{option}}"> 
                                {{option}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div style="padding-top: 10px;">
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </div>
                </div>
            </form>
        </div>
        
   
</div>
</div>
</div>
</body>
{%endblock%}
