{% extends "base.html" %}

{% block content%}

<form method="post" action="{% url 'contact' %}" class="was-validated">
  {% csrf_token %}
    <div class="mb-3 ml-3" class="ml-5">
        <label for="exampleInputPassword1" class="form-label">Your Name</label>
        <input name="name" type="text" class="form-control" id="exampleInputPassword1" required>
      </div>

    <div class="mb-3 ml-3" class="ml-5">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
   
    <div class="mb-3 ml-3" class="ml-5">
      {% if form %}
        <label for="exampleInputPassword1" class="form-label" >Your Meessage</label>
        <input name="content"  type="text" class="form-control"  id="floatingTextarea2" style="height: 100px" required>
        {% else %}
        <label for="exampleInputPassword1" class="form-label" >Your suggestion</label>
        <input name="content"  type="text" class="form-control"  id="floatingTextarea2" style="height: 100px" required>
        {% endif %}
     </div>
     
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock%}
