{% extends "webpages/base.html" %}

{% block content%}

<form class="mx-auto">
    <div class="mb-3 ml-3" class="ml-5">
        <label for="exampleInputPassword1" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>

    <div class="mb-3 ml-3" class="ml-5">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
   
    <div class="mb-3 ml-3" class="ml-5">
        <label for="exampleInputPassword1" class="form-label" >Your Meessage</label>
        <textarea  type="text" class="form-control" placeholder="Leave a message here" id="floatingTextarea2" style="height: 100px"></textarea>

        
      </div>
     
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock%}
